<h1>Schoodle App</h1><hr>

<h3>{{c.name}}</h3><hr>

<h4>Content</h4>

<ul>
        <li><a href="/schoodle/misc_content/syllabus">Syllabus</a></li>
        <li><a href="/schoodle/misc_content/lecture_notes_1">Lecture Notes 1</a></li>
        <li><a href="/schoodle/misc_content/lecture_notes_2">Lecture Notes 2</a></li>
        {% for item in items %}
        <li><a href=/schoodle/course/{{c.id}}/content/{{item.id}}>Content Item {{item.id}}</a></li>
        {% endfor %}
	 <li><a href="/schoodle/misc_content/quiz_1">Quiz 1</a></li>
</ul>

<h4><a href="/schoodle/course/{{c.id}}/addcontent/{{instructor_id}}">Add content</a></h4>

<h4><a href="/schoodle/course/{{c.id}}/allgrades/{{instructor_id}}">View and edit Student grades</a></h4>
