<h1>Schoodle App</h1><hr>

<h3>Choose a person to proceed as</h3>
{%  if students %}
<p><b>Students:</b></p>
	<ul>
		{% for s in students %}
		<li><a href="/schoodle/student/{{ s.id }}">{{s.name}} </a></li>
		{% endfor %}
	</ul>
{% else %}
	<p> No Students are available</p>
{% endif %}

{%  if instructors %}
<p><b>Instructors:</b></p>
	<ul>
		{% for i in instructors %}
		<li><a href="/schoodle/instructor/{{ i.id }}">{{i.name}} </a></li>
		{% endfor %}
	</ul>
{% else %}
	<p> No Instructors are available</p>
{% endif %}


{%  if admins %}
<p><b>Administrators:</b></p>
	<ul>
		{% for a in admins %}
		<li><a href="/schoodle/admin/{{ a.id }}">{{a.name}} </a></li>
		{% endfor %}
	</ul>
{% else %}
	<p> No Administrators are available</p>
{% endif %}

